<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	  <key>NSLocationAlwaysUsageDescription</key>
	  <string>我们需要您的位置信息来提供后台定位服务</string>
	  <key>NSLocationWhenInUseUsageDescription</key>
	  <string>我们需要您的位置信息来提供定位服务</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
  </dict>
</plist>